*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* header section start  */



/* header section end */

/* bannar section start */



/* bannar section end */

/* standard section start */



/* standard section end */

/* our stories section start */



/* our stories section end */

/* footer section start */



/* footer section end */


