*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
}

body{
    background: #f7f7f7;
}

/* header section start  */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 22px;
}

.logo img{
    width: 40px;
}

.nav a{
    margin: 0px 15px;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
}

.nav .active {
    color: orange;
    font-weight: 700;
}

.abbb {
    font-weight: 500;
    color: #01ACFD;
}

.facc {
    font-weight: 500;
    color: #05D4DF;
}

.addd {
    font-weight: 500;
    color: #5D58EF;
}

.contact-btn{
    background: orange;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
}

/* header section end */

/* bannar section start */

.bannar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
}

.bannar-text {
    max-width: 500px;
}

.bannar-text h1{
    font-size: 48px;
    line-height: 58px;
}

.oranges{
    color: orange;
}

.blues {
  color: #00aaff;
}

.bannar-text p{
  margin: 20px 0;
  color: #555;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}

.enroll-btn {
    background: #000;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.bannar-image img{
    width: 100%;
}

/* bannar section end */

/* standard section start */

.standard {
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 80px;
}

.standard h2 {
    text-align: center;
    color: #000;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 100px;
}

.standard-container {
    display: flex;
    gap: 30px;
}

.card {
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
    padding: 0px 50px 50px 50px;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    margin-top: 70px;
    margin-bottom: 40px;
    width: 130px;
}

.card h3 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

.card p {
    font-size: 14px;
    color: #777;
    line-height: 24px;
    margin-bottom: 30px;
}

.card a {
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
}

.card1 {
    background: linear-gradient( 180deg,#DEF5FF 0%,#FFF 30%,#FFF 100%);
}

.card1 a {
    color: #64C8FF;
}

.card2 {
    background: linear-gradient( 180deg, #FFF4DC 0%,#FFF 30%,#FFF 100%);
}

.card2 a {
    color: #F0AA00;
}

.card3 {
    background: linear-gradient( 180deg, #F2E8FF 0%,#FFF 30%,#FFF 100%);
}

.card3 a {
    color: #8700FF;
}

.arrws {
    width: 100%;
    text-align: center;
    padding-top: 100px;
}

.standard-arrow {
    display: inline-flex;
    gap: 20px;
}

.arr-btn {
    width: 60px;
    height: 60px;
    background: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #FFF;
    cursor: pointer;
}

.arr-btn:hover {
    background: darkorange;
}


/* standard section end */

/* our stories section start */

.stories {
    
    background: linear-gradient(360deg, rgba(254,163,1,0.3), rgba(255,255,255,0.1)), url(../assets/bg.png);
    padding: 60px 80px;
    text-align: center;
}

.stories h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

.stories-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 20px;
}

.item {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    text-align: left;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.item img {
    width: 100%;
}

.item.large {
    grid-row: span 2;
}

.item.large img {
    height: 350px;
}

.item .content {
    padding: 30px;
}

.item h3 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 40px;
    margin-top: 20px;
}

.item h4 {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
}

.item p {
    font-family: 15px;
    line-height: 30px;
    color: #777;
}

.date {
    position: absolute;
    top: 160px;
    left: 20px;
    padding: 10px 16px;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
}

.item.large .date {
    padding: 12px 14px;
    top: 330px;
}

.blue {
    background: #33c3f0;
}

.green {
    background: #8bc34a;
}

.purple {
    background: #6c63ff;
}

.item-mobile {
    
}

.view-btn {
    padding-top: 80px;
}

.viewss-btn {
    background: #000;
    color: #fff;
    border: none;
    padding: 12px 50px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

/* our stories section end */

/* footer section start */

.footer {
    background-color: #01ACFD;
    color: #fff;
    padding: 80px 80px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-left {
    max-width: 350px;
}

.logoss img {
    width: 80%;
    margin-left: -10px;
}

.footer-left p {
    font-size: 16px;
    line-height: 30px;
    padding-top: 30px;
    font-weight: 400;
}

.footer-mid h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-mid ul {
    list-style: none;
}

.footer-mid li {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 10px;
    cursor: pointer;
}

.footer-right h3 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.social-icons i {
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

.fa-facebook {
    background-color: #3B5998;
    border-radius: 4px;
}

.fa-dribbble {
    background-color: #EA4C89;
    border-radius: 4px;
}

.fa-twitter {
    background-color: #1DA1F2;
    border-radius: 4px;
}

.fa-google-plus {
    background-color: #DD4B39;
    border-radius: 4px;
}


/* footer section end */


 /* mobile view  */

 @media (min-width: 769px) {
    .item-mobile {
        display: none;
    }

    .menu-icon {
        display: none;
    }
}

@media (max-width: 768px) {

    /* Header */
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        background: #eee;
        border-bottom: 2px solid orange;
        padding: 20px;
        gap: 15px;
    }

    .menu-icon {
        font-size: 28px;
        cursor: pointer;
    }

    .header span {
        display: none;
    }

    .nav {
        display: none;
    }

    .contact-btn {
        display: none;
    }

    .bannar {
        flex-direction: column-reverse;
        padding: 40px 20px;
        text-align: center;
    }

    .bannar-text h1 {
        font-size: 32px;
        line-height: 42px;
    }

    .bannar-image img {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    /* Standard Section */
    .standard {
        padding: 40px 20px;
    }

    .standard-container {
        flex-direction: column;
    }

    .standard h2 {
        font-size: 30px;
        margin-bottom: 50px;
    }

    .stories {
        padding: 50px 20px;
    }

    .stories-container {
        grid-template-columns: 1fr 1fr;
    }

    .item.large {
        display: none;
    }

    .item img {
        height: 200px;
    }

    .item h4 {
        font-size: 15px;
        line-height: 25px;
    }

    .date {
        top: 180px;
    }

    .arrws {
        display: none;
    }

    .standard-arrow {
        display: none;
    }

    .footer {
        padding: 40px 20px;
    }

    .footer-container {
        flex-direction: column;
        gap: 30px;
    }

    .footer-left,
    .footer-mid,
    .footer-right {
        max-width: 100%;
    }

    .logoss img {
        width: 200px;
    }
}


